@CHARSET "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import
	url(http://fonts.googleapis.com/css?family=Dancing+Script);
	
::-moz-selection {
	background: #346;
	color: #fff;
}

::selection {
	background: #346;
	color: #fff;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', 'Helvetica Neue Light', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #333;
	background: #111 url('img/space.jpg') right repeat;
	
	overflow-x: hidden; overflow-y: hidden;
}

.scrollv { overflow-y: auto !important; }

.ui-widget{
	font-family: 'Roboto', 'Helvetica Neue Light', sans-serif;
	color: #333;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 18px;
}

.main-menu {
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 360px;
	height: 210px;
	border-radius: 20px;
	border: 3px solid #fff; 
	color: #fff;
	z-index: 999;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 0px 0px 30px rgba(0,0,0,0.8);
	overflow: hidden;
}
	.main-menu a {
		display: block;
		float: left;
		width: 118px;
		height: 68px;
		line-height: 68px;
		
		background: rgba(0,0,0,0.8);
		text-align: center;
		color: #fff;
		border: 1px solid rgba(127,127,127,0.2);
		text-decoration: none;
		font-size: 18px;
		font-weight: 400;
		 -webkit-transition: all 0.1s linear; transition: all 0.1s linear;
	}
	.main-menu a:hover {
		background: rgba(70,15,77,0.5);
		border: 1px solid #fff;
		box-shadow: inset 0px 0px 10px rgba(255,255,255,0.8);
	}
	.main-menu a.close {
		background: rgba(80,0,0,0.8);
	}
	.main-menu a.close:hover {
		background: rgba(255,0,0,0.5);
	}
	.main-menu-link {
		position: fixed;
		top: 10px;
		left: 10px;
		width: 70px;
		height: 50px;
		border-radius: 15px;
		border: 3px solid #fff; 
		color: #fff;
		z-index: 999;
		box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
		overflow: hidden;
	}
	.main-menu-link a {
		display: block;
		float: left;
		width: 70px;
		height: 50px;
		line-height: 50px;
		
		background: rgba(0,0,0,0.8);
		text-align: center;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		font-weight: 400;
		 -webkit-transition: all 0.1s linear; transition: all 0.1s linear;
	}
	.main-menu-link a:hover {
		background: rgba(255,0,0,0.5);
		box-shadow: inset 0px 0px 10px rgba(255,255,255,0.8);
	}
	#menu-focus{
		display: none;
		position: absolute;
		width: 118px;
		height: 68px;
		background: rgba(200,200,200,0.6);
		border: 1px solid #fff;
		top: 70px;
		left: 120px;
		-webkit-transition: all 0.5s linear; transition: all 0.5s linear;	
	}

#page_home {
	color: #fafafa;
	background: #2C3539 url('img/pattern.png') right repeat;
	background: #111 url('img/space.jpg') right repeat;
}
	.top-left { top: 2px; left: 2px;}
	.top-mid { top: 2px; left: 42%;  border-radius: 50% 50% 0 0;}
	.top-right { top: 2px; right: 2px;}
	.bottom-left { bottom: 2px; left: 2px;}
	.bottom-mid { bottom: 2px; left: 42%; border-radius:0 0 50% 50%;}
	.bottom-right { bottom: 2px; right: 2px;}
	.left-mid { bottom: 12%; left: 2px; border-radius:50% 0 0 50%;}
	.right-mid { bottom: 12%; right: 2px; border-radius:0 50% 50% 0;}
	.left-mid.big-button { top: 42%; left: 2px;}
	.right-mid.big-button { top: 42%; right: 2px;}
	
	.home-button {
		display: block; position: absolute; width: 60px; height: 60px; border-radius: 50%; border: 1px solid #fff; 
		color: #fff; text-decoration: none; font-size: 20px; text-align: center; line-height: 60px; padding: 5px; z-index: 950;
		margin: 0 auto; background: #000; opacity: 0.4; -webkit-transition: all 0.3s linear; transition: all 0.3s linear;
	}
	.home-button:hover {opacity: 1; -webkit-transform: scale(1.2,1.2); -ms-transform: scale(1.2,1.2); transform: scale(1.2,1.2) }
	
	.big-button { position: absolute; display: block; width: 120px; height: 120px; border-radius: 50%; border: 2px solid #fff; 
				color: #fff; text-decoration: none; font-size: 22px; text-align: center; line-height: 120px; padding: 10px;  
				margin: 0 auto; background: rgba(0,0,0,0.7);}
	.big-button:hover { background: rgba(255,255,255,0.10); }
	
	.medium-button { position: absolute; display: block; min-width: 60px; min-height: 50px; border: 1px solid #fff; font-weight: 400;
				color: #fff; text-decoration: none; font-size: 14px; text-align: center; line-height: 50px; padding: 5px; z-index: 950;
				margin: 0 auto; background: #000; opacity: 0.1; -webkit-transition: all 0.3s linear; transition: all 0.3s linear;}
	.medium-button:hover { opacity: 1; }
	
	.home-text { text-align: center; width: 500px; margin: auto; margin-top: 15%;}
	.home-text h1, .home-text h2, .home-text h3 { margin: 5px; }
	
	.more-links { text-align: center;}
	.more-links a {
		display: block; margin: 15px; padding: 15px;
		font-size: 20px; text-decoration: none; max-width: 300px; font-weight: 400;
		color: #fff; background: rgba(0,0,0,0.7); box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
		-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
	}
	.more-links a:hover {
		background: rgba(100,100,100,1);
	}
	
#page_whoIAm {
	color: #222222;
	background: #fafafa url('img/pattern.png') right repeat;
}
	#opinions-wrapper {
		position: absolute;
		border-radius: 3%;	
		height: 23%;
		width: 22%;
		right: 8%;
		top: 10%;
		max-height: 500px;
		background: #659EC7;
		overflow:hidden;
	}
	#opinions {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.opinion {
		position: absolute;
		top: 5%;
		left: 5%;
		right: 5%;
		bottom: 5%;
	/* 	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
	}
	.opinion > h5 {
		margin: 0px;
		padding: 2%;
		text-align: center;
		color:#FFF;
		font-size: 1.4em;
	}
	.opinion > h6 {
		margin: 0px;
		padding: 2%;
		text-align: center;
		color:#FFF;
		font-weight: 300;
		font-size: 1.2em;
	}


#page_lifeline {
	color: #fafafa;
	background: #2B3856 url('img/pattern.png') right repeat;
}
	#page_lifeline h1{ font-family: 'Dancing Script', cursive; text-align: center; margin: 10px 0px;}
	#timeline-border {
		margin: 0px auto;padding: 6px;width: 840px;border-radius: 18px;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
		background: #f5f6f6;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
		background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
		z-index: 100;
	}
	#timeline-wrapper {padding: 20px;background: #222;box-shadow: inset 1px 1px 5px rgba(0,0,0,1);border-radius: 8px;}
	#timeline {font-family: Georgia, serif;height: 500px;overflow: hidden;margin: 0px auto;
		position: relative;background: url('img/dot.gif') left 45px repeat-x;}
		#dates {width: 800px;height: 60px;overflow: hidden;margin-top: 0px;}
			#dates li {list-style: none;float: left;width: 100px;height: 50px;font-size: 24px;
				text-align: center;background: url('img/biggerdot.png') center bottom no-repeat;}
			#dates a { line-height: 38px;padding-bottom: 10px;text-decoration: none;color: #ffffcc;}
			#dates .selected { font-size: 38px;color: #ffcc00;}
		
		#issues {width: 800px;height: 500px;overflow: hidden;padding: 0px;}	
			#issues li {width: 800px;height: 500px;list-style: none;float: left;}
				#issues li.selected img { -webkit-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1); transform: scale(1.1,1.1);}
				#issues li img {
					float: left;margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out; transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7); -ms-transform: scale(0.7,0.7); transform: scale(0.7,0.7);
			}
			#issues li h1 {color: #ffcc00;font-size: 48px;margin: 0px;text-shadow: #000 1px 1px 2px;text-align: center;}
			#issues li p {font-size: 14px;margin: 7px 70px 7px 70px;font-weight: normal;line-height: 22px;text-shadow: #000 1px 1px 2px;}
			#issues li a {color: #ffcc00;}
	
	#grad_left,
	#grad_right {width: 100px;height: 500px;position: absolute;top: 0;}
	#grad_left {left: 0; background: url('img/grad_left.png') repeat-y;}
	#grad_right {right: 0;background: url('img/grad_right.png') repeat-y;}
	
	#next,
	#prev {
		position: absolute;
		top: 0;
		font-size: 70px;
		top: 170px;
		width: 22px;
		height: 38px;
		background-position: 0 0;
		background-repeat: no-repeat;
		text-indent: -9999px;
		overflow: hidden;
	}
		#next:hover,#prev:hover {background-position: 0 -76px;}
		#next {right: 0;background-image: url('img/next.png');}
		#prev {left: 0;background-image: url('img/prev.png');}
		#next.disabled,#prev.disabled {opacity: 0.2;}

#page_education {
	color: #ffffff;
	background: #98AFC7 url('img/pattern.png') right repeat;
}
#page_professional {
	color: #222222;
	background: #E5E4E2 url('img/pattern.png') right repeat;
}
	.column-900 { width: 900px; margin: auto; margin-bottom:100px; overflow: hidden;}
	#page_professional h1 {text-align: center;margin: 15px 0px;}
	#page_professional h2 {margin: 15px 0px; padding: 0px;}
	#page_professional h3 {margin: 15px 0px; padding: 0px 50px;}
	#xp-list {list-style: none;border-top: 1px solid #bbb;border-bottom: 1px solid #bbb;
		background: #fdfdfd;padding: 0px 40px;}
	#xp-list a {color:#222222; text-decoration: none; border-bottom: 1px dotted #666;
		-webkit-transition: all 0.2s linear; transition: all 0.2s linear;}
	#xp-list a:hover {color:#aa5533; text-decoration: none; border-bottom: 1px dotted #aa5533;}
	#xp-list li {margin-bottom: 60px;}
	#xp-list li img {float: left;margin: 0px 50px 25px 0px;}
	#xp-list li h3 {margin: 30px auto;font-size: 26px;}
	#xp-list li h4 {margin: 10px auto;font-size: 18px;}
	.skill-list {list-style: none; padding: 0px 50px; margin: 30px 0px; overflow: hidden; }
	.skill-list li {display: block; background: #fdfdfd; padding: 10px; margin: 5px; border: 1px solid #bbb;
		border-radius: 10px; text-align: center; width: 128px; position: relative; float: left; box-shadow: 1px 1px 2px rgba(0,0,0,0.5);}
	.skill-list li img { max-width: 128px; max-height: 128px;}
	.skill-list li p { margin: 5px 0px 0px 0px; font-weight: 400; font-size: 20px;}
	#cv-div {width: 450px; float: left; text-align: right;}
	#cv-link{float: right;margin: 0px 15px 50px 30px;padding-bottom: 10px;text-align: center;color: #666;
		font-size: 16px;font-weight: 400;text-decoration: none;border-bottom: 1px solid #bbb;}
	#cv-img {margin-bottom: 16px;display: block;width: 150px;box-shadow: 0px 4px 7px rgba(0,0,0,0.7);}
	.link-div { width: 450px; float: left;}
#page_photography {
	color: #fafafa;
	background: #222222 url('img/pattern.png') right repeat;
}
	.photo {
		background: #fff;
		color: #222;
		padding: 5px 5px 10px 5px;
		margin: 15px;
		box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.7);
		width: 250px;
	}
#page_blog {
	color: rgba(0,0,0,0.65);
	background: #F5F5DC url('img/wood.jpg') right repeat;
}
	.sheet{
		position: absolute;
		top: 5%;
		min-height: 85%;
		left: 15%;
		width: 60%;
		margin: auto;
		padding: 5%;
		
		font-family: 'Dancing Script', cursive;
		background: url('img/paper.jpg') right repeat;
		
		box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.7);
	}
	.sheet p {
		font-size: 1.8em;
	}
	
#page_contact {
	color: #222222;
	background: #9CB071 url('img/pattern.png') right repeat;
}
	#page_contact h1 { text-align: center; margin: 0px; padding: 20px 0px 10px 0px; background: rgba(0,0,0,0.1); border-bottom: 1px solid #8a8;}
	#contact-book { width: 600px; margin: 40px auto;  background: #F7FFE6; border-radius: 50px; 
		border: 1px solid #888; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7); overflow: hidden;}
	.contact-table {margin: 40px; font-size: 20px; line-height: 28px;}
	.contact-table, .contact-table tr, .contact-table td {background: transparent; border: none;}
	.contact-label {color: #888; text-align: right; width: 200px; }
	.contact-value {color: #222; text-align: left; width: 300px; font-weight: 400;}









/* Blinking cursor at my name */
.blink {
	display: inline-block;
	margin-left: -2px;
	-webkit-animation: blink 1s linear 0s infinite;
	-moz-animation: blink 1s linear 0s infinite;
	-ms-animation: blink 1s linear 0s infinite;
	-o-animation: blink 1s linear 0s infinite;
}


@-webkit-keyframes blink { 
	0% {opacity: 0}
	47%{opacity:0}
	50%{opacity:0.75}
	52%{opacity:1}
	100%{opacity:0.6}
}
@keyframes blink { 
	0% {opacity: 0}
	47%{opacity:0}
	50%{opacity:0.75}
	52%{opacity:1}
	100%{opacity:0.6}
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 470px) {
}

/* iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
}

/* iPhone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 600px) {
	h1 {
		font-size: 26px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	h5 {
		font-size: 14px;
	}
	
	h6 {
		font-size: 14px;
	}
	
	p {
		font-size: 14px;
	}
}

@MEDIA print {
	body {
		color: black !important;
	}
}