@CHARSET "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import
	url(http://fonts.googleapis.com/css?family=Dancing+Script);
	
::-moz-selection {
	background: #346;
	color: #fff;
}

::selection {
	background: #346;
	color: #fff;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', 'Helvetica Neue Light', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #333;
	background: #111 url('img/space.jpg') right repeat;
	
	overflow-x: hidden; overflow-y: hidden;
}

.scrollv { overflow-y: auto !important; }

.ui-widget{
	font-family: 'Roboto', 'Helvetica Neue Light', sans-serif;
	color: #333;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 18px;
}

	.home-button {
		display: block; position: absolute; width: 70px; height: 70px; border-radius: 50%; border: 2px solid #fff; 
		color: #fff; text-decoration: none; font-size: 22px; text-align: center; line-height: 70px; padding: 5px;  
		margin: 0 auto; background: #000; opacity: 0.4; -webkit-transition: all 0.3s linear; transition: all 0.3s linear;
	}
	.home-button:hover {opacity: 1; -webkit-transform: scale(1.5,1.5); -ms-transform: scale(1.5,1.5); transform: scale(1.5,1.5) }

#page_home {
	color: #fafafa;
	background: #2C3539 url('img/pattern.png') right repeat;
	background: #111 url('img/space.jpg') right repeat;
}
	.big-button { position: absolute; display: block; width: 150px; height: 150px; border-radius: 50%; border: 2px solid #fff; 
				color: #fff; text-decoration: none; font-size: 28px; text-align: center; line-height: 150px; padding: 10px;  
				margin: 0 auto; background: rgba(0,0,0,0.7);}
	.big-button:hover { background: rgba(255,255,255,0.10); }
		
#page_whoIAm {
	color: #222222;
	background: #fafafa url('img/pattern.png') right repeat;
}
	#opinions-wrapper {
		position: absolute;
		border-radius: 3%;	
		height: 23%;
		width: 22%;
		right: 8%;
		top: 10%;
		max-height: 500px;
		background: #659EC7;
		overflow:hidden;
	}
	#opinions {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.opinion {
		position: absolute;
		top: 5%;
		left: 5%;
		right: 5%;
		bottom: 5%;
	/* 	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
	}
	.opinion > h5 {
		margin: 0px;
		padding: 2%;
		text-align: center;
		color:#FFF;
		font-size: 1.4em;
	}
	.opinion > h6 {
		margin: 0px;
		padding: 2%;
		text-align: center;
		color:#FFF;
		font-weight: 300;
		font-size: 1.2em;
	}


#page_lifeline {
	color: #fafafa;
	background: #2B3856 url('img/pattern.png') right repeat;
}
	#timeline-border {
		background: #222;
		margin: 0px auto;
		border-radius: 18px;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
		padding: 6px;
		width: 840px;
		
		background: #f5f6f6;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
		background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
	}
	#timeline-wrapper {
		padding: 20px;
		background: #222;
		box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
		border-radius: 8px;
	}
	#timeline {
		font-family: Georgia, serif;
		height: 400px;
		overflow: hidden;
		margin: 0px auto;
		position: relative;
		background: url('img/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
			margin-top: 0px;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('img/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
					text-decoration: none;
					color: #ffffcc;
				}
				#dates .selected {
			        font-size: 38px;
			        color: #ffcc00;
				}
		
		#issues {
			width: 800px;
			height: 400px;
			overflow: hidden;
			padding: 0px;
		}	
			#issues li {
				width: 800px;
				height: 400px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
			}
			#issues li h1 {
				color: #ffcc00;
				font-size: 48px;
				margin: 0px;
				text-shadow: #000 1px 1px 2px;
				text-align: center;
			}
			#issues li p {
				font-size: 14px;
				margin: 7px 70px 7px 70px;
				font-weight: normal;
				line-height: 22px;
				text-shadow: #000 1px 1px 2px;
			}
			#issues li a {
				color: #ffcc00;
			}
	
	#grad_left,
	#grad_right {
		width: 100px;
		height: 350px;
		position: absolute;
		top: 0;
	}
		#grad_left {
	        left: 0;
	        background: url('img/grad_left.png') repeat-y;
		}
		#grad_right {
	        right: 0;
	        background: url('img/grad_right.png') repeat-y;
		}
	
	#next,
	#prev {
		position: absolute;
		top: 0;
		font-size: 70px;
		top: 170px;
		width: 22px;
		height: 38px;
		background-position: 0 0;
		background-repeat: no-repeat;
		text-indent: -9999px;
		overflow: hidden;
	}
		#next:hover,
		#prev:hover {
			background-position: 0 -76px;
		}
		#next {
			right: 0;
			background-image: url('img/next.png');
		}
		#prev {
			left: 0;
			background-image: url('img/prev.png');
		}
			#next.disabled,
			#prev.disabled {
				opacity: 0.2;
		}

#page_education {
	color: #ffffff;
	background: #98AFC7 url('img/pattern.png') right repeat;
}
#page_professional {
	color: #222222;
	background: #E5E4E2 url('img/pattern.png') right repeat;
}
#page_photography {
	color: #fafafa;
	background: #222222 url('img/pattern.png') right repeat;
}
	.photo {
		background: #fff;
		color: #222;
		padding: 5px 5px 10px 5px;
		box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.7);
		width: 250px;
	}
#page_blog {
	color: #3a3a3a;
	background: #F5F5DC url('img/wood.jpg') right repeat;
}
	.sheet{
		position: absolute;
		top: 5%;
		height: 85%;
		left: 15%;
		width: 60%;
		margin: auto;
		padding: 5%;
		
		font-family: 'Dancing Script', cursive;
		background: url('img/paper.jpg') right repeat;
		
		box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.7);
	}
	.sheet p {
		font-size: 1.8em;
	}
	
#page_contact {
	color: #222222;
	background: #9CB071 url('img/pattern.png') right repeat;
}









/* Blinking cursor at my name */
.blink {
	display: inline-block;
	margin-left: -2px;
	-webkit-animation: blink 1s linear 0s infinite;
	-moz-animation: blink 1s linear 0s infinite;
	-ms-animation: blink 1s linear 0s infinite;
	-o-animation: blink 1s linear 0s infinite;
}

/* onepage css 
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
*/

@-webkit-keyframes blink { 
	0% {opacity: 0}
	47%{opacity:0}
	50%{opacity:0.75}
	52%{opacity:1}
	100%{opacity:0.6}
}
@keyframes blink { 
	0% {opacity: 0}
	47%{opacity:0}
	50%{opacity:0.75}
	52%{opacity:1}
	100%{opacity:0.6}
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 470px) {
}

/* iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
}

/* iPhone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 600px) {
	h1 {
		font-size: 26px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	h5 {
		font-size: 14px;
	}
	
	h6 {
		font-size: 14px;
	}
	
	p {
		font-size: 14px;
	}
}

@MEDIA print {
	body {
		color: black !important;
	}
}